<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/engii?zeroDateTimeBehavior=convertToNull</property>
    <mapping class="model.fornecedores.Fornecedor"/>
    <mapping class="model.fornecedores.Produto"/>
    <mapping class="model.fornecedores.ProdutoPerecivel"/>
    <mapping class="model.loja.Pedido"/>
    <mapping class="model.loja.ProdutoLoja"/>
    <mapping class="model.loja.Venda"/>
    <mapping class="model.notasFiscais.NotaFiscal"/>
    <mapping class="model.notasFiscais.NotaFiscalCompra"/>
    <mapping class="model.notasFiscais.NotaFiscalVenda"/>
    <mapping class="model.pessoa.Funcionario"/>
  </session-factory>
</hibernate-configuration>
